<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
   
  <appSettings>
    <add key="api_url" value="http://10.90.0.132:20001"/>
    <add key="api_app_code" value="/power-csb/powercsb"/>
    <add key="api_version" value="1.0.0"/>
    <add key="api_access_key" value="sJAXxQd10aQLWZFAMH3PT9pHCGGqXPzz4Hv4Ei"/>
    <add key="api_secreKey" value="SK1BtAloxIaQUgv9m0gjqrQJ0NJikkPPUTlRGOzp"/>
  </appSettings>
</configuration>
